body{
    background-color: rgb(160, 238, 199);
}
.main_container{
    background-color: rgb(246, 249, 252);
    border-radius: 8px;
    height: 70vh;
    margin: 10px;
    padding: 1rem;
    width: 80vh;
}
.main_names{
    display: flex;
}
.first_name{
}
.fname{
    width: 37vb;
}
.last_name{
    margin-left: 1vb;
}
.lname{
    width: 37vb;
}
.email_info{
    margin-top: 3vh;
}
.email_Address{
    width: 95%;
}
.checkbox_option{
    margin-top: 4vh;
}
.query_Type{
    display: flex;
}
.general_enq{
    border: 1px solid;
    border-radius: 5px;
    width: 36vb;
}
.support_req{
    border: 1px solid;
    border-radius: 5px;
    margin-left: 3vb;
    width: 36vb;
}
.message_box{
    margin-top: 3vh;
}
.message{
    height: 80px;
    width: 95%;
}
.iagree{
    margin-top: 3vh;
}
label{
    font-size: 15px;
}
.submit_sub{
    margin-top: 4vh;
}
.submit{
    background-color: rgb(56, 160, 108);
    height: 25px;
    width: 95%;

}